*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#f5f5f5;
    color:#333;
}



header{
    background:#111;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:sticky;
    top:0;
}

.logo h2{
    color:#f39c12;    
}
.logo img{
    width:80px;
    height:80px;
    object-fit:cover;
    border-radius:50%;
}
nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

nav ul li a:hover{
    color:#f39c12;
}



.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 8%;
    gap:40px;
}

.hero-text{
    flex:1;
}

.hero-text h1{
    font-size:48px;
    margin-bottom:20px;
    color:#111;
}

.hero-text p{
    font-size:18px;
    line-height:1.7;
    margin-bottom:30px;
}

.btn{
    background:#f39c12;
    color:white;
    padding:14px 28px;
    text-decoration:none;
    border-radius:5px;
    font-weight:bold;
}

.btn:hover{
    background:#d68910;
}

.hero-image{
    flex:1;
}

.hero-image img{
    width:100%;
    border-radius:15px;
}



.products{
    padding:70px 8%;
    text-align:center;
}

.products h2{
    font-size:36px;
    margin-bottom:40px;
}

.cards{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:300px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    .card{
    background:white;
    width:300px;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:0.4s;
}

.card:hover{
    transform:translateY(-10px) scale(1.03);
}
    
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    margin:20px 0 10px;
}

.card p{
    padding:0 20px 25px;
}



footer{
    background:#111;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:50px;
}



@media(max-width:768px){

.hero{
    .hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 8%;
    gap:40px;
    background:linear-gradient(135deg,#111,#333);
    color:white;
}

.hero h1{
    color:#f39c12;
}
}

.hero-text h1{
    font-size:34px;
}

nav ul{
    flex-direction:column;
    text-align:center;
}

nav ul li{
    margin:10px 0;
}

header{
    flex-direction:column;
}


.why-us{
    padding:70px 8%;
    text-align:center;
    background:#ffffff;
}

.why-us h2{
    font-size:36px;
    margin-bottom:40px;
}

}